<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>土地详情</title>
		<link rel="stylesheet" type='text/css' href="../css/common.css" >
		<link rel="stylesheet" type='text/css' href="../css/detail.css" >
	</head>
	<body>
		<!-- 头部 -->
		<header>
			<div class="yihao-top">
				<!-- 头部导航 -->
				<div class="navigation">
					<div class="navi-wrap">
						<div class="yihao-top-nav-1 f-fl">
							<ul class="yihao-top-nav-ul-1 ">
								<li class="yihao-top-nav-li " id="yihao-top-home-link">
									<a class="yihao-top-nav-link" href="/" id="yihao-top-link-home">首页</a>
								</li>
								<li class="top-nav-topic-selector yihao-top-nav-li " id="yihao-top-nav-find">
									<a class="yihao-top-nav-link" href="/topic" id="top-nav-dd-topic">我要找地</a>
								</li>
								<li class="yihao-top-nav-li " id="yihao-top-nav-sell">
									<a class="yihao-top-nav-link" href="/sell">我要卖地</a>
								</li>
							</ul>
						</div>
						<a class="yihao-logo f-fl" href="/"></a>
						<div class="yihao-top-nav-2 f-fl">
							<ul class="yihao-top-nav-ul-2 ">
								<li class="yihao-top-nav-li " id="yihao-top-home-link">
									<a class="yihao-top-nav-link" href="/" id="yihao-top-link-home">精选土地</a>
								</li>
								<li class="top-nav-topic-selector yihao-top-nav-li " id="yihao-top-nav-find">
									<a class="yihao-top-nav-link" href="/topic" id="top-nav-dd-service">服务保障</a>
								</li>
								<li class="yihao-top-nav-li " id="yihao-top-nav-login">
									<a class="yihao-top-nav-link" href="#">注册/登陆</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- 内容 -->
		<div class="container"> 
		    <div class="details-page">
	            <div class="dpm-main">
		            <div class="row f-cl">
		            	<div class="images-slider f-fl">
		            		<img src="../images/detail/carousel.jpg" alt="">
		            	</div>
		            	<div class="detail-description f-fl">
		            		<div class="tt">绍兴上虞300-400亩农业地转让,价格优惠!适合种各种水果蔬菜。</div>
		            		<div class="deployer-wrapper">
		            			<span class="deployer">发布人:</span>
		            			<span class="deployer-data">Meepo007</span>
	            			</div>
	            			<div class="price-wrapper">
		            			<span class="total-price">总价/一口价: </span>
		            			<span class="price-data-1">60万元/年</span>
		            			<span class="price-data-2">60万亩</span>
		            			<span class="price-data-3">单价: 1000/亩</span>
	            			</div>
	            			<div class="des-wrapper">
	            				<div class="land-type-wrapper">
	            					<span class="land-type">土地类型: </span>
		            				<span class="land-type-data">农田</span>
	            				</div>
		            			<div class="transfer-wrapper">
	            					<span class="transfer">流转类型: </span>
		            				<span class="transfer-data">出租</span>
	            				</div>
	            				<div class="transfer-year-wrapper">
	            					<span class="transfer-year">流转年限: </span>
		            				<span class="transfer-year-data">29年</span>
	            				</div>
	            			</div>
	            			<div class="tel-wrapper">
	            				<i class="icon-tel"></i>
	            				<div class="tel">138-5800-0251</div>
	            			</div>
	            			<!-- JiaThis Button BEGIN -->
							<div class="jiathis_style">
								<a class="jiathis_button_qzone">QQ空间</a>
								<a class="jiathis_button_tsina">新浪微博</a>
								<a class="jiathis_button_tqq">腾讯微博</a>
								<a class="jiathis_button_weixin">微信</a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
							</div>
							<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
							<!-- JiaThis Button END -->
							<div class="bottom-btn f-cl">
								<a href=""><div class="bot-btn-l f-fl">预约看地</div></a>
								<a href=""><div class="bot-btn-r f-fr">收藏</div></a>
							</div>
		            	</div>
		            </div>
	            </div>
	        </div>
	        <div class="divideBar10"></div>
	        <div class="details-page-grid">
	        	<!-- nav tag -->
	        	<div class="grid-nav-wrapper">
	        		<ul class="grid-nav-tag f-cl">
	        			<li class="grid-nav-li f-fl active"><a >土地详情</a></li>
	        			<li class="grid-nav-li f-fl"><a >土地图片</a></li>
	        		</ul>
	        	</div>
	        	<div class="grid-content-wrapper">
	        		<div class="grid-content">
	        			<div class="row f-cl">
	        				<div class="row-l f-fl">
	        					<div class="tb">
	        						<div class="tb-tt">权证情况</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">权属类型</span><span class="tb-data">个人</span></li>
	        								<li class=""><span class="tb-attr">权证年限</span><span class="tb-data">30年</span></li>
	        								<li class=""><span class="tb-attr">权证期间</span><span class="tb-data">2015年到2045年</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">水电网情况</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">供水条件</span><span class="tb-data">暂无供水设施，但可接通</span></li>
	        								<li class=""><span class="tb-attr">供电条件</span><span class="tb-data">未通电，可通电</span></li>
	        								<li class=""><span class="tb-attr">网络状况</span><span class="tb-data">无网络，可连线</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">水源条件</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">灌溉水源</span><span class="tb-data">用地表水灌溉</span></li>
	        								<li class=""><span class="tb-attr">防洪排涝能力</span><span class="tb-data">有健全的干、支、斗、农排水沟道（包括抽排），无洪涝</span></li>
	        								<li class=""><span class="tb-attr">地下水埋深</span><span class="tb-data">小于10米</span></li>
	        								<li class=""><span class="tb-attr">水源质量情况</span><span class="tb-data">无污染</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">地上设施</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">水井</span><span class="tb-data">温室大棚</span></li>
	        								<li class=""><span class="tb-attr">畜禽舍</span><span class="tb-data">养殖池塘</span></li>
	        								<li class=""><span class="tb-attr">蓄水池</span><span class="tb-data">育种育苗场</span></li>
	        								<li class=""><span class="tb-attr">生产看护房</span><span class="tb-data">仓库</span></li>
	        								<li class=""><span class="tb-attr">农机房</span><span class="tb-data">晾晒场</span></li>
	        								<li class=""><span class="tb-attr">道路</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">适宜利用方式</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">种养农业（种植、林业、园艺）</span><span class="tb-data">休闲农业</span></li>
	        								<li class=""><span class="tb-attr">乡村旅游（森林公园）</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        				</div>
	        				<div class="row-r f-fr">
	        					<div class="tb">
	        						<div class="tb-tt">土壤情况</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">表面土壤质地</span><span class="tb-data">壤土</span></li>
	        								<li class=""><span class="tb-attr">土壤酸碱度</span><span class="tb-data">微酸5.5-6.5</span></li>
	        								<li class=""><span class="tb-attr">土种</span><span class="tb-data">红壤</span></li>
	        								<li class=""><span class="tb-attr">有机质含量</span><span class="tb-data">2.0%-1.0%</span></li>
	        								<li class=""><span class="tb-attr">xx</span><span class="tb-data">aaa</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">100公里交通情况</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">有机场</span><span class="tb-data">佛山机场79公里</span></li>
	        								<li class=""><span class="tb-attr">有高铁</span><span class="tb-data">三水站79公里</span></li>
	        								<li class=""><span class="tb-attr">有铁路</span><span class="tb-data">佛山站80公里</span></li>
	        								<li class=""><span class="tb-attr">有高速路</span><span class="tb-data">S5广明高速9公里</span></li>
	        								<li class=""><span class="tb-attr">有国道</span><span class="tb-data">324国道29公里</span></li>
	        								<li class=""><span class="tb-attr">有港口</span><span class="tb-data">高明港47公里</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">10公里环境配套</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">（图标）农技站</span><span class="tb-data">（图标）农贸市场</span></li>
	        								<li class=""><span class="tb-attr">冷藏保鲜</span><span class="tb-data">仓储运输</span></li>
	        								<li class=""><span class="tb-attr">物流配送</span><span class="tb-data">aaa</span></li>
	        								<li class=""><span class="tb-attr">xx</span><span class="tb-data">aaa</span></li>
	        								<li class=""><span class="tb-attr">xx</span><span class="tb-data">aaa</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        					<div class="tb mgtop-50">
	        						<div class="tb-tt">周边环境</div>
	        						<div class="tb-ctn">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">所在市上年度人均收入</span><span class="tb-data">10000-30000元</span></li>
	        								<li class=""><span class="tb-attr">城市化率</span><span class="tb-data">50%-60%</span></li>
	        								<li class=""><span class="tb-attr">城市常住人口</span><span class="tb-data">100万-500万大城市</span></li>
	        								<li class=""><span class="tb-attr">附近产业集群</span><span class="tb-data">种植业区 养殖业区 生态休闲农业区 旅游景点区</span></li>
	        								<li class=""><span class="tb-attr">旅游资源景观</span><span class="tb-data">水域风光 建筑与设施 旅游商品</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        			<div class="row description_wrapper f-cl">
	        				<div class="des-row-l f-fl"><span class="descritption-tt">描述</span></div>
	        				<div class="des-row-r f-fl">
	        					<div class="tb">
	        						<div class="tb-des">
	        							<ul class="">
	        								<li class=""><span class="tb-attr">组成：</span><span class="tb-data">土地连片，种满了第一期桉树2年；</span></li>
	        								<li class=""><span class="tb-attr">水源：</span><span class="tb-data">有沧江河流经，附近多鱼塘（可以出租）；</span></li>
	        								<li class=""><span class="tb-attr">电源：</span><span class="tb-data">100米内可接三相电；</span></li>
	        								<li class=""><span class="tb-attr">交通：</span><span class="tb-data">4米宽的水泥路边（不经过村庄），离省道S273约500米；</span></li>
	        								<li class=""><span class="tb-attr">价钱：</span><span class="tb-data">一次性交易30年，120元每亩每年（桉树每棵补偿30元，每亩约80棵桉树）；</span></li>
	        								<li class=""><span class="tb-attr">保障：</span><span class="tb-data">村民签名，村委会盖章，可优先续约。</span></li>
	        								<li class=""><span class="tb-attr">所在市上年度人均收入：</span><span class="tb-data">xxx</span></li>
	        								<li class=""><span class="tb-attr">城市化率：</span><span class="tb-data">xxx</span></li>
	        								<li class=""><span class="tb-attr">城市常住人口：</span><span class="tb-data">xxx</span></li>
	        								<li class=""><span class="tb-attr">附近产业集群：</span><span class="tb-data">xxx</span></li>
	        								<li class=""><span class="tb-attr">旅游资源景观：</span><span class="tb-data">xxx</span></li>
	        								<li class=""><span class="tb-attr">补贴政策：</span><span class="tb-data">xxx</span></li>
	        							</ul>
	        						</div>
	        					</div>
	        				</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
        </div>

		<!-- 底部 -->
		<footer>
			<div class="footer">
				<!-- 底部搜索框 -->
				<div class="ft-search-wrap">
					<div class="ft-search"> 
						<a href="#" class="ft-yihao-logo"></a>
						<input class="ft-search-input" type="text" placeholder="搜索土地">
						<a href="#" class="ft-search-btn"  >GO</a>
					</div>
				</div>
				<div class="ft-line-wrap">
					<div class="ft-line"></div>
				</div>

				<div class="ft-helper f-cl">
					<div class="helper-item f-fl">
						<p class="hotline-tt">24小时客服热线</p>
						<p class="hotline">XXX XXX XXX</p>
						<p class="hotline-des">一号土地网在全国已有区域流转中心120家、土地挂牌面积3.4亿亩。</p>
					</div>
					<div class="helper-item f-fl">
						<a href="" class="how-to-find"><i class="icon"></i> 如何找到地</a>
						<a href="" class="send-req">发布需求信息</a>
						<a href="" class="entrust">委托找地</a>
					</div>
					<div class="helper-item f-fl">
						<a href="" class="want-sell"><i class="icon"></i> 我要卖地</a>
						<a href="" class="send-req">发布土地</a>
						<a href="" class="entrust-poxy">委托经纪人</a>
					</div>
					<div class="helper-item f-fl">
						<a href="" class="work-company">合作伙伴</a>
					</div>
				</div>
			</div>
			<!-- 底部 -->
			<div class="footer-btm">
				<div class="copyright f-cl">
					<div class="copyright-wrap f-fl">
						©2015 Cishop.All rights reserved
					</div>
					<div class="copyright-wrap f-fr">
						<a class="share-a" href="#">
							<div class="icon-wrapper">
								<i class="ft-wb"></i>
							</div>
						</a>
						<a class="share-a" href="#">
							<div class="icon-wrapper">
								<i class="ft-wx"></i>
							</div>
						</a>
						<a class="share-a" href="#">
							<div class="icon-wrapper">
								<i class="ft-rr"></i>
							</div>
						</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- 遮罩层 -->
		<section class="u-mark " style="display: none;"></section>
		<!-- 登陆注册  -->
		<section class="m-login" style="display: none;">
			<div class="login-menu" >
				<ul class="menu-ul f-cl">	
					<a id="login" class="j-active"><li class="f-fl"><div class="sign-in-tag ">登陆 sign in</div></li></a>
					<div class="li-line f-fl"></div>
					<a id="register" ><li class="f-fl"><div class="sign-up-tag">注册 sign up</div></li></a>
				</ul>
			</div>
			<div class="login-wrapper">
				<div class="mobile-wrapper">
					<i class="mobile-icon"></i>
					<input class="input-mobile" type="tel" maxlength="11" placeholder="11位电话号码">
				</div>
				<div class="password-wrapper">
					<i class="psw-icon"></i>
					<input class="input-password" type="password" maxlength="20" placeholder="请输入密码">
				</div>
				<div class="info_list">
					<label for="login_form_savestate" title="建议在网吧或公共电脑上取消该选项。" >
                		<input type="checkbox" class="auto_login" node-type="savestate" checked="checked" > 自动登录
            		</label>
            		<label for="login_form_savestate" title="建议在网吧或公共电脑上取消该选项。" >
                		<input type="checkbox" class="remember_psw" node-type="savestate"  > 记住密码
            		</label>
            		<a class="forget_psw" href="#">忘记密码</a>
				</div>
				<div class="sign-in">
					<a href=""><div class="sign-in-btn">登录</div></a>
				</div>
			</div>
			<div class="register-wrapper">
				<div class="">
					<i class="mobile-icon"></i>
					<input class="input-mobile" name="mobile" type="tel" maxlength="11" placeholder="11位电话号码">
				</div>
				<div class="">
					<i class="name-icon"></i>
					<input class="input-name" name="name" type="text" maxlength="20" placeholder="请输入昵称">
				</div>
				<div class="">
					<i class="psw-icon"></i>
					<input class="input-password" name="password" type="password" maxlength="20" placeholder="请输入密码">
				</div>
				<div class="">
					<i class="psw_2-icon"></i>
					<input class="input-password_2" name="password_2" type="password" maxlength="20" placeholder="再次输入密码">
				</div>
				<div class="submit">
					<a href=""><div class="submit-btn">提交</div></a>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="../js/sea-js-module/seajs/sea.js"></script>
		<script type="text/javascript" src="../js/config-seajs.js"></script>
		<script>
			//配置seajs根路径
			seajs.config({
				base: '../js'
			});
		</script>
		<script>
			seajs.use('detail.js');
		</script>
	</body>
</html>

