<!-- 底部 -->
<footer>
	<div class="footer">
		<!-- 底部搜索框 -->
		<div class="ft-search-wrap">
			<div class="ft-search"> 
				<a href="#" class="ft-yihao-logo"></a>
				<input class="ft-search-input" type="text" placeholder="搜索土地">
				<a href="#" class="ft-search-btn"  >GO</a>
			</div>
		</div>
		<div class="ft-line-wrap">
			<div class="ft-line"></div>
		</div>

		<div class="ft-helper f-cl">
			<div class="helper-item f-fl">
				<p class="hotline-tt">24小时客服热线</p>
				<p class="hotline">XXX XXX XXX</p>
				<p class="hotline-des">一号土地网在全国已有区域流转中心120家、土地挂牌面积3.4亿亩。</p>
			</div>
			<div class="helper-item f-fl">
				<a href="" class="how-to-find"><i class="icon"></i> 如何找到地</a>
				<a href="" class="send-req">发布需求信息</a>
				<a href="" class="entrust">委托找地</a>
			</div>
			<div class="helper-item f-fl">
				<a href="" class="want-sell"><i class="icon"></i> 我要卖地</a>
				<a href="" class="send-req">发布土地</a>
				<a href="" class="entrust-poxy">委托经纪人</a>
			</div>
			<div class="helper-item f-fl">
				<a href="" class="work-company">合作伙伴</a>
			</div>
		</div>


	</div>
	<!-- 底部 -->
	<div class="footer-btm">
		<div class="copyright f-cl">
			<div class="copyright-wrap f-fl">
				©2015 Cishop.All rights reserved
			</div>
			<div class="copyright-wrap f-fr">
				<a class="share-a" href="#">
					<div class="icon-wrapper">
						<i class="ft-wb"></i>
					</div>
				</a>
				<a class="share-a" href="#">
					<div class="icon-wrapper">
						<i class="ft-wx"></i>
					</div>
				</a>
				<a class="share-a" href="#">
					<div class="icon-wrapper">
						<i class="ft-rr"></i>
					</div>
				</a>
			</div>
		</div>
	</div>
</footer>