	<div class="sn-simple-logo" style="padding:0px;left:50%;top:auto;">
	    <div class="sn-simple-logo" style="padding:0px;left:-960px;top:auto;">
        	<!--可以HTML代码替换本区域  开始-->
       		<a  target="_blank"></a>
       		<a name="a" id="a"></a>
       		<a  target="_blank">
       			<img src="http://img04.taobaocdn.com/imgextra/i4/1123437233/TB200Y5cVXXXXX8XXXXXXXXXXXX_!!1123437233.jpg" width="1920px" height="805px" usemap="#Map5780" border="0" />
	       		<map name="Map5780" id="Map5780">
		           <area shape="rect" coords="745,56,855,93" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.J2tBxf&id=37012630706&skuId=85181245026" target="_blank">
		           <area shape="rect" coords="862,59,1011,93" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.Jjb4cl&id=45262032442&skuId=85024426909" target="_blank">
		           <area shape="rect" coords="1016,58,1151,89" href="http://kezhan.trip.taobao.com/item2.htm?item_id=43929087923&start=&end=&roomnum=" target="_blank">
		           <area shape="rect" coords="1156,59,1287,90" href="http://kezhan.trip.taobao.com/item2.htm?item_id=44441913130&start=&end=&roomnum=" target="_blank">
		           <area shape="rect" coords="1298,60,1443,91" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.IsoxAL&id=24843932889&skuId=32960359950" target="_blank">
		           <area shape="rect" coords="744,112,877,143" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.7fv7bn&id=45150759190&skuId=90001707157" target="_blank">
		           <area shape="rect" coords="881,112,975,140" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.LC5XRN&id=40187224574&sku_properties=8557920:5497333;8558246:3622544;17046500:27389" target="_blank">
		           <area shape="rect" coords="741,163,1426,470" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.qM6GXz&id=43824564116&skuId=77915677809" target="_blank">
		           <area shape="rect" coords="743,474,1426,783" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.vrwl4b&id=44675254262" target="_blank">
				   <area shape="rect" coords="981,110,1096,142" href="http://detail.tmall.com/item.htm?spm=0.0.0.0.O9s3Me&id=39189748002" target="_blank">
		           <area shape="rect" coords="1103,108,1168,145" href="http://ycfly.alitrip.com/search.htm?orderType=defaultSort&viewType=grid&keyword=%C7%A7%B5%BA%BA%FE&lowPrice=&highPrice=" target="_blank">
		           <area shape="rect" coords="575,696,699,743" href="http://ycfly.alitrip.com/search.htm?spm=a1z10.3-b.w5002-3257330575.1.xyDKkx&search=y" target="_blank">
		           <area shape="rect" coords="606,203,725,252" href="#b" />
		           <area shape="rect" coords="483,290,613,335" href="#c" />
		           <area shape="rect" coords="565,370,701,416" href="#d" />
		           <area shape="rect" coords="492,457,629,508" href="http://ycfly.alitrip.com/category-1009053401.htm?spm=a220o.1000855.0.0.Q4ltYM&amp;search=y&amp;catName=%B0%B2%BB%D5" target="_blank" />
		           <area shape="rect" coords="568,538,689,581" href="http://ycfly.alitrip.com/category-1027037669.htm?spm=a1z10.5-b.w5002-3257330575.5.oBZFSM&amp;search=y&amp;catName=%CB%C4%B4%A8" target="_blank" />
		           <area shape="rect" coords="496,614,626,659" href="http://ycfly.alitrip.com/category-970858444.htm?spm=a1z10.5-b.0.0.F1zkK9&amp;search=y&amp;catName=%BA%A3%C4%CF" target="_blank" />
		        </map>
	        </a>
	        <!--可以HTML代码替换本区域  结束-->
  		</div>
	</div>