/* reset 重置样式 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
img{display: block; margin: 0; /*padding:0; border:none; margin: none;*/}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a{color:#333;}
a:hover{color: #F40;}

body{font-family: "Microsoft YaHei"}


/* 字体 */
.fs-18{font-size: 16px;}
.fs-17{font-size: 15px;}
.fs-15{font-size: 14px;}

.divideBar10{height: 10px;}


/* 2:Function(.f-) */

/*浮动 */
.f-cl { zoom: 1; }
.f-cl:after { content: ''; display: block; clear: both; }
.f-fl { float: left; }
.f-fr { float: right; }

/* 2:skin(.s-) */
.s-bgW {background: #fff;}

/* header公共样式 */
/*头部*/
.yihao-top {  position: relative;left: 0;top: 0;z-index: 20;width: 100%;/*height: 686px;*/}
.yihao-top .navigation{left: 0;top: 0;z-index: 20;width:100%; height:72px; background: #000;opacity: 0.5;}
/*头部导航*/
.navigation {text-align: center;}
.navigation .navi-wrap {position: relative;width: 960px;height: inherit; margin:0 auto; /*display: inline-block;*/}
.navigation .navi-wrap .yihao-top-nav-1{position: relative; float:left;}
.navigation .navi-wrap .yihao-top-nav-ul-1 {position: relative;  }
.navigation .navi-wrap .yihao-top-nav-ul-1 li:first-child{margin-left: 0; font-size: 23px; float:left;}
.navigation .navi-wrap .yihao-top-nav-li{ font-size: 23px; margin-left: 40px;   float:left;}
.navigation .navi-wrap .yihao-top-nav-li .yihao-top-nav-link{ color: #fff; height: 72px;line-height: 72px;  text-align: center;}
.navigation .navi-wrap .yihao-logo{background-image: url(../images/icon/logo.png);width:189px;height:72px; background-repeat: no-repeat;display: inline-block;vertical-align: middle; margin-left: 40px;}
.navigation .navi-wrap .yihao-top-nav-2{position: relative; float:left;}
.navigation .navi-wrap .yihao-top-nav-ul-2 {position: relative;  }


/* footer公共样式 */
.footer {width: 100%; height: 600px;  background-color: #2d2d2d;}
.ft-search-wrap{width: 100%; text-align: center; padding:50px 0;}
.ft-search-wrap .ft-search{width: 960px; margin:0 auto;}
.ft-search-wrap .ft-search .ft-yihao-logo{background-image: url(../images/icon/logo.png);width:189px;height:72px; background-repeat: no-repeat;display: inline-block;vertical-align: middle; margin-right: 50px;}
.ft-search-wrap .ft-search .ft-search-input{ vertical-align: middle;  background-color: #1d1e1e; border:none;height: 100%;font-size: 22px;padding: 0 30px;color: #fff;  height: 50px; width: 160px; opacity: 0.5;}
.ft-search-wrap .ft-search .ft-search-btn {display: inline-block; vertical-align: middle; height: 50px; width: 60px; line-height: 50px; background-color: #141414; border: none; color: #fff;  margin-left: -3px;font-size: 18px;}

.ft-line-wrap{width: 100%;  margin-bottom: 112px;}
.ft-line-wrap .ft-line{width: 958px; height: 1px; margin:0 auto; background-color: #3f3f3f; border: 1px solid #343535;}

.ft-helper{color: #fff; width: 960px; margin:0 auto;}
.ft-helper .helper-item{width: 160px;font-size: 15px; padding:0 40px; }
.ft-helper .helper-item .how-to-find i{background-image: url(../images/icon/icon-find.png);width:31px;height:31px; background-repeat: no-repeat;display: inline-block;vertical-align: middle; }

.ft-helper .helper-item .want-sell i{background-image: url(../images/icon/icon-sell.png);width:31px;height:31px; background-repeat: no-repeat;display: inline-block;vertical-align: middle; }

.hotline{font-size: 20px; padding: 20px 0;}
.hotline-des{  line-height: 23px;}

.send-req{ padding: 20px 0;}

.ft-helper a{color: #fff; display: block;}
 /*黑色底部*/
.footer-btm {width: 100%;  background-color: #000000;}
.footer-btm .copyright{  width: 960px;margin: 0 auto; padding: 50px 0;}
.copyright .copyright-wrap{color: #5d5e5e; line-height: 40px;}
.copyright .copyright-wrap .icon-wrapper{width: 40px; height: 40px; display: inline-block;}
.copyright-wrap .ft-wb{background-size: 100% 100%;background-repeat: no-repeat;background-position:center; display: inline-block;vertical-align: middle;width:100%;height:100%; background-image: url(../images/icon/login-wb.png);}
.copyright-wrap .ft-wx{background-size: 100% 100%;background-repeat: no-repeat;background-position:center; display: inline-block;vertical-align: middle;width:100%;height:100%; background-image: url(../images/icon/login-wx.png);}
.copyright-wrap .ft-rr{background-size: 100% 100%;background-repeat: no-repeat;background-position:center; display: inline-block;vertical-align: middle;width:100%;height:100%; background-image: url(../images/icon/login-rr.png);}


 /*遮罩层*/
.u-mark{position: fixed;left: 0;top: 0;z-index: 8888;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .3);}
 
 /*登陆注册模块*/
.m-login{position: fixed; width: 600px; height: 380px; z-index: 8889;  top: 50%;left: 50%;margin-left: -300px;margin-top: -190px; background-color: #fff;}
.menu-ul{width: 100%;}
.menu-ul li{width: 298px; height: 72px;border-bottom: 1px solid #898989; text-align: center;}
.menu-ul .li-line{width: 1px; height: 72px; background-color: #898989;}
.menu-ul .sign-in-tag{  padding: 30px 0 0 0; font-size: 22px; }
.menu-ul .sign-up-tag{  padding: 30px 0 0 0; font-size: 22px; }
.menu-ul .j-active{color: #167faf;}

.login-wrapper{}
.login-wrapper .mobile-wrapper{text-align: center; margin-top: 25px;}
.login-wrapper .mobile-wrapper .input-mobile{width: 350px;height: 18px; margin-left: 15px; font-size: 16px; padding: 10px;}
.mobile-icon{background-image: url(../images/login/mobile.png);width:52px;height:52px; background-repeat: no-repeat;display: inline-block;vertical-align: middle;}

.login-wrapper .password-wrapper{text-align: center; margin-top: 20px;}
.login-wrapper .password-wrapper .input-password{width: 350px;height: 18px; margin-left: 15px; font-size: 16px; padding: 10px;}
.psw-icon{background-image: url(../images/login/psw.png);width:52px;height:52px; background-repeat: no-repeat;display: inline-block;vertical-align: middle;}

.login-wrapper .info_list{margin-top: 30px; text-align: center; color: #167faf;}
.login-wrapper .info_list label{margin-right: 10px; font-size: 14px; }
.login-wrapper .info_list a{color: #167faf; font-size: 14px;}

.login-wrapper .sign-in{margin-top: 30px;}
.login-wrapper .sign-in .sign-in-btn{width: 373px;height: 40px; background-color: #167faf; color: #fff; line-height: 40px; text-align: center;  font-size: 22px;   margin-left: 148px; }

.register-wrapper{display: none;}
.register-wrapper div{text-align: center; margin-top: 8px;}
.register-wrapper input{width: 350px;height: 15px; margin-left: 15px; font-size: 16px; padding: 8px 10px;}
.psw_2-icon{background-image: url(../images/login/psw_2.png);width:52px;height:52px; background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.name-icon{background-image: url(../images/login/name.png);width:52px;height:52px; background-repeat: no-repeat;display: inline-block;vertical-align: middle;}
.register-wrapper .submit .submit-btn{width: 373px;height: 40px; background-color: #167faf; color: #fff; line-height: 40px; text-align: center;  font-size: 22px;   margin-left: 148px; }


